$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$orange: rgb(215, 165, 0);
$gold:  rgb(94, 94, 12);
$dark_blue: rgba(11, 14, 67, 0.9);
$navy: rgb(0, 0, 128);
$blanchedalmond: rgb(255, 235, 205);
$grey: rgb(68, 68, 68);
$orange_links: rgba(246, 198, 87);
$grey_links: rgb(50, 49, 49);
$body_gradient1: rgba(255, 255, 255, 0.9);
$body_gradient2: rgba(255,255,255,0.6);
$slider_shadow1: rgba(0, 0, 0, 0.24);
$slider_shadow2: rgba(0, 0, 0, 0.22);
$slider_shadow3: rgba(0, 0, 0, 0.25);
$hero_shadow1: rgba(0,0,0,0.4);
$hero_shadow2: rgba(0,0,0,0.2);
$text-shadow: rgba(175,160,160,0.5);
$footer-shadow: rgb(0, 0, 0, 0.1);

$font: Arial, sans-serif;
$font_title: url(../fonts/triodpostnaja-font/TriodPostnaja-0G4z.ttf);
$font_resavska: 'Resavska BG Sans', sans-serif;
$font_lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
$font1: 'Palatino Linotype', Serif;