@mixin title {
    color: $gold;
    font-size: 25px;
    font-weight: 900px;
    line-height: 36px;
    letter-spacing: 6.4px;
    text-transform: uppercase;
    font-family: $font_lucida;
}

@mixin text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
    color: $gold;
}