@mixin body {
    background-image: linear-gradient(to top, $body_gradient1 20%, $body_gradient2 100%), url('../img/cover.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.83;
}

@mixin header {
    font-family: $font;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
    border: 2px solid $orange;
    background-color: $dark_blue;
    margin-bottom: 50px;
}

@mixin title {
    color: $gold;
    font-size: 25px;
    font-weight: 900px;
    line-height: 36px;
    letter-spacing: 6.4px;
    text-transform: uppercase;
    font-family: $font_lucida;
}

@mixin text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
    color: $gold;
}