* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0.6) 100%), url("../img/cover.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.83;
}

.header {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  align-items: center;
  padding: 20px;
  border: 2px solid rgb(215, 165, 0);
  background-color: rgba(11, 14, 67, 0.9);
  margin-bottom: 50px;
}
.header img {
  max-width: 200px;
  height: 60px;
  width: 60px;
  border-radius: 7px;
  outline: 1px solid rgb(215, 165, 0);
}
.header button {
  display: none;
  padding: 10px;
  color: rgb(0, 0, 128);
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 128);
  background-color: rgb(255, 235, 205);
}
.header ul {
  display: flex;
  list-style: none;
  font-size: 16px;
  justify-content: space-around;
  z-index: 99;
}
.header ul li a {
  padding: 10px 20px;
  display: inline-block;
  color: rgb(255, 255, 255);
}
.header ul li a:hover {
  text-decoration: none;
  color: rgb(215, 165, 0);
  position: relative;
  top: -2px;
}

@media (max-width: 1000px) {
  .header button {
    display: block;
  }
  .header ul {
    display: none;
    background-color: rgba(11, 14, 67, 0.9);
    border: 2px solid rgb(215, 165, 0);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 119px;
  }
}
main .slider-wrapper {
  max-width: 1000px;
  height: 550px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.24), 0 9px 46px 8px rgba(0, 0, 0, 0.22), 0 11px 15px -7px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-top: 20px;
  position: relative;
  margin-bottom: 50px;
}
main .slider-wrapper .slider-images {
  height: 100%;
}
main .slider-wrapper .slider-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
main .slider-wrapper .slider-images img:first-child {
  display: block;
}
main .slider-wrapper button {
  height: 65px;
  width: 65px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  top: 40%;
  position: absolute;
  z-index: 999;
}
main .slider-wrapper button .arrow {
  border: solid blanchedalmond;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  outline: none;
}
main .slider-wrapper #right-btn {
  right: 0;
}
main .slider-wrapper #right-btn .arrow {
  transform: rotate(-45deg);
}
main .slider-wrapper #left-btn {
  left: 0;
}
main .slider-wrapper #left-btn .arrow {
  transform: rotate(135deg);
}
main #intro {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 2px solid rgb(215, 165, 0);
  border-bottom: 2px solid rgb(215, 165, 0);
  margin-bottom: 50px;
}
main #intro .title {
  color: rgb(94, 94, 12);
  font-size: 25px;
  font-weight: 900px;
  line-height: 36px;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 5px 2px rgba(175, 160, 160, 0.5);
}
main #intro .title::after {
  content: "";
  width: 55px;
  height: 1px;
  display: block;
  background-color: rgb(94, 94, 12);
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}
main #intro .text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  max-width: 850px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  text-align: justify;
  color: rgb(94, 94, 12);
  min-width: 500px;
  margin-bottom: 30px;
}
main #hero {
  height: 450px;
  max-width: 1000px;
  background-image: url(../img/slide2.jpg);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.2) 100%), url(../img/slide2.jpg);
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}
main #hero #banner-links {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}
main #hero #banner-links a:nth-child(1) {
  background-color: transparent;
  color: rgb(246, 198, 87);
  font-weight: 600;
  font-size: 16px;
  border: 1px solid rgb(246, 198, 87);
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 24px;
}
main #hero #banner-links a:nth-child(1):hover {
  background-color: rgba(246, 198, 87, 0.8);
  color: rgb(50, 49, 49);
}
main #hero #banner-links a:nth-child(2) {
  background-color: transparent;
  color: rgb(246, 198, 87);
  font-weight: 600;
  font-size: 16px;
  border: 1px solid rgb(246, 198, 87);
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 24px;
}
main #hero #banner-links a:nth-child(2):hover {
  background-color: rgba(246, 198, 87, 0.75);
  color: rgb(50, 49, 49);
}
main .subtitle {
  color: rgb(94, 94, 12);
  font-size: 25px;
  font-weight: 900px;
  line-height: 36px;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  max-width: 850px;
  margin: auto;
  text-align: center;
  margin-top: 70px;
  text-shadow: 1px 5px 2px rgba(175, 160, 160, 0.5);
}
main .subtitle::before {
  content: "";
  width: 55px;
  height: 1px;
  display: block;
  background-color: rgb(94, 94, 12);
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
}
main #services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}
main #services .service-box {
  padding: 10px;
  text-align: center;
}
main #services .service-box img {
  width: 180px;
  margin-bottom: 10px;
  transition: 0.2s all;
  border-radius: 5px;
  outline: 1px solid rgb(215, 165, 0);
}
main #services .service-box img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
main #services .service-box h3 {
  font-size: 18px;
  letter-spacing: 1.4px;
  color: rgb(94, 94, 12);
  text-shadow: 1px 5px 2px rgba(175, 160, 160, 0.5);
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}
main #services .service-box p {
  line-height: 30px;
  color: rgb(94, 94, 12);
  text-align: justify;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}
main #services .service-box:first-child {
  border-right: 1px solid rgb(215, 165, 0);
  border-bottom: 1px solid rgb(215, 165, 0);
}
main #services .service-box:nth-child(3) {
  border-right: 1px solid rgb(215, 165, 0);
}
main #services .service-box:nth-child(3) img {
  margin-top: 15px;
}
main #services .service-box:nth-child(2) {
  border-bottom: 1px solid rgb(215, 165, 0);
}
main #services .service-box:nth-child(2) img {
  width: 165px;
}
main #services .service-box:nth-child(4) img {
  margin-top: 15px;
}

footer {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgba(246, 198, 87, 0.9);
  padding: 10px 0 0;
  max-width: 1000px;
  margin: 40px auto 0;
  border: 2px solid rgb(215, 165, 0);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
}
footer h7 {
  color: rgb(0, 0, 128);
}
footer h7::after {
  content: "";
  width: 55px;
  height: 1px;
  display: block;
  background-color: rgb(94, 94, 12);
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
footer .footerCopyright {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid rgb(94, 94, 12);
  margin-top: 10px;
  color: rgb(0, 0, 128);
}/*# sourceMappingURL=main.css.map */